[submodule "lib/glfw"]
	path = Beon/libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/glad"]
	path = Beon/libs/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "lib/bullet3"]
	path = Beon/libs/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "lib/stb"]
	path = Beon/libs/stb
	url = https://github.com/nothings/stb.git
[submodule "lib/glm"]
	path = Beon/libs/glm
	url = https://github.com/g-truc/glm.git
